# Filter packages


# Installed libs
node_modules
typings

# ignore .npmignore in packages (if copied there for publishing)
# */.npmignore

# Generated
*.js
*.js.map
*.d.ts

yarn-error.log
npm-debug*

# Misc
.npmrc
_*
_README.md
docker-compose.override.yml

.yalc
yalc.lock