# Filter packages
/*/*
!/express/*

# Installed libs
node_modules
typings

# Generated
*.js
*.js.map
*.d.ts
# tsconfig.json
yarn-error.log
npm-debug.log
npm-debug.*.log

# Exclude ignore
!/tsconfig.json
!src/**/*
!make-tsconfig.js

# Misc
_*
_README.md
*docker*